.toolpanel {
  width: 80px;
  display: inline-block;
  flex-direction: column;
  position: relative;
}
.top,.down {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.toolpanel.tool-item {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 4px;
}
.toolpanel .tool-item.selected-tool {
  background-color: #bcdbfa; /*5e5e63*/
}
/* .tool-item:hover {
  border: 1px solid #64a5e7;
} */
.title {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  /* color: black; */
}